<div id="lists" class="box">
    <div class="header">
        Lists
    </div>
    <div class="content">
        <form class="new-list" ng-submit="newList()">
            <div class="input">
                <input type="text"/>
                <label>New list</label>
                <span></span>
            </div>
            <button class="fa fa-plus"></button>
        </form>
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="item in lists track by item.name">
                <div class="list">
                    <div class="header">
                        {{item.name}}
                        <button class="fa fa-trash" ng-click="listRemove(item.id)"></button>
                    </div>
                    <ul>
                        <li ng-repeat="task in item.items track by task.name">
                            <span class="{{task.done}} holder">
                                <input ng-click="done(item.id, task.id)" type="checkbox"/>
                                <span>{{task.name}}</span>
                            </span>
                            <button class="fa fa-trash" ng-click="itemRemove(item.id, task.id)"></button>
                        </li>
                    </ul>
                    <form class="new-item" ng-submit="newItem(item.id)" name="{{item.id}}">
                        <div class="input">
                            <input type="text"/>
                            <label>New item</label>
                            <span></span>
                        </div>
                        <button class="fa fa-plus"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>